* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    width: 100%;
    height: 100vh;
    background-color: #1f1f1f;
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}